.poster {
    position: relative;
    height: 220px;
    width: 150px;
}

.card {
    display: flex;
    position: absolute;
    max-width: 40%;
    height: auto;
}

.card > img {
    margin: 10px;
    margin-right: 18px;
    width: auto;
    height: auto;
    max-height: 300px;
    display: block;
}

.grid-container {
    display: flex;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    height: 85vh;
    max-height: 85vh;
    max-width: 42%;
    overflow: auto;
    grid-gap: 5px;
}

.grid-item {
    height: auto;
    width: 150px;
    align-self: flex-end;
    background-color: grey;
    justify-content: center;
    display: block;
    margin: 0px 0px auto 0px;
    position: relative;
    transition: all 0.5s;
    border-radius: 7px;
}

.grid-item:hover {
    background-color: red;
}

.grid-item > h1 {
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.more-info-active {
    display: block;
    float: left;
    visibility: visible;
}

.more-info-inactive {
    visibility: hidden;
}

.form-inline {
    width: 500px;
    height: 25px;
    padding: 7px;
    margin: 10px;
}

.container-margins {
    display: flex;
    padding-left: 50px;
    margin: 30px;
    height: 100%;
}

.rating {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1;
    right: 0px;
    width: 40px;
    height: 25px;
    border-radius: 0 0 0px 10px;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
}

/*sidebar*/
.queue {
    padding-left:25px;
    width: 25%;
    max-height: 100vh;
    height: 100vh;
    float: left;
    box-shadow: 0 0 0 1pt grey;
    background-color: white;
    position: sticky;
    float: left;
}

.queue > .queue-list {
    overflow: auto;
    height: 70%;
}

.queue > h1 {
    position: flex;
}

.list-item {
    position: relative;
    display: flex;
    justify-content: left;
    margin: 20px;
}

.list-item > img {
    display: block;
    max-width: 15%;
    max-height: 15%;
    min-width: 15%;
    min-height: 15%;
    width: auto;
    height: auto;
}

.list-item > .list-item-info {
    margin: 0px 10px;
    text-align: left-align;
    vertical-align: middle;
}

.remove-button {
    padding: 0;
    border: none;
    background: none;
    float: right;
    justify-content: space-between;
    transition: all 0.5s;
    margin-left: auto;
}

.remove-button:hover {
    opacity: 50%;
}

.carousel {
    height: auto;
    justify-content: center;
}

.wheel-item {
    float: left;
    width: 150px;
    height: auto;
    color: white;
    text-align: center;
}

.wheel {
    padding: 10px 9px;
    margin: 0 auto;
    overflow: hidden;
}

.wheel-wrapper {
    width: 1950px;
}

.dark-button {
    background-color: black; /* Green */
    display: flex;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.dark-button-disabled {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    transition: all 0.5s;
    pointer-events: none;
    border-radius: 10px;
}

.dark-button:hover {
    background-color: grey;
}

.main-page {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}